*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100dvh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: white;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

input {
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 0.8rem;
  background-color: #999;
  color: inherit;
}
input::placeholder {
  color: #ddd;
}

button {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #45a049;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 30rem;
  border: 1px solid #ccc;
  min-height: 20rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 0.5rem black;
  justify-content: center;
  background-color: #363636;
}

#ips {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  max-width: 40rem;
  border: 1px solid #555;
  padding: 0 0.6rem;
  border-radius: 0.8rem;
}
